.conter-top {
  width: 120rem;
  height: 4.4rem;
  border-bottom: 2px solid #B01D1D;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .conter-top div:nth-of-type(1) {
    width: 21rem;
    height: 45px;
    line-height: 45px;
    background: #FF3C3C;
    font-size: 1.6rem;
    color: white;
    padding-left: 3.5rem; }

.conter-top ul {
  float: left;
  font-size: 1.6rem; }

.conter-top ul li {
  float: left;
  padding: 0 1.5rem;
  line-height: 4.4rem; }

.conter-top div:nth-of-type(2) {
  float: right;
  align-items: center; }

.conter {
  width: 120rem;
  margin: 0 auto; }

.conter-top2 {
  margin-top: 18px;
  margin-bottom: 28px; }
  .conter-top2 span {
    border: 1px dashed #FF3200;
    padding: 0.5rem; }

.conter-top-column {
  width: 120rem;
  height: 20.5rem;
  border: 1px solid #CCCCCC;
  overflow: hidden; }
  .conter-top-column div:nth-of-type(1) {
    width: 120rem;
    border-bottom: 1px solid #CCCCCC;
    height: 7rem; }
    .conter-top-column div:nth-of-type(1) p {
      margin-top: 0.5em;
      width: 9rem;
      float: left;
      text-align: center; }
    .conter-top-column div:nth-of-type(1) ul {
      width: 111rem;
      float: left; }
      .conter-top-column div:nth-of-type(1) ul li {
        float: left;
        padding-left: 2.5rem;
        font-size: 1.4rem;
        line-height: 3rem; }
  .conter-top-column .conter-top-column-div {
    width: 120rem;
    border-bottom: 1px solid #CCCCCC;
    height: 4.5rem;
    overflow: hidden; }
    .conter-top-column .conter-top-column-div p {
      width: 9rem;
      float: left;
      text-align: center;
      line-height: 4.5rem; }
    .conter-top-column .conter-top-column-div ul {
      width: 111rem;
      float: left; }
      .conter-top-column .conter-top-column-div ul li {
        float: left;
        padding-left: 2.5rem;
        font-size: 1.4rem;
        line-height: 4.5rem; }

.conter-bottom-left-top {
  width: 21rem;
  height: 3.8rem;
  line-height: 3.8rem;
  border: 1px solid #EAEAEA; }
  .conter-bottom-left-top div {
    width: 3px;
    height: 18px;
    background: #FF4E00;
    margin: 1rem 1rem;
    float: left; }
  .conter-bottom-left-top p {
    font-size: 1.4rem;
    color: #FF4E00;
    float: left; }
  .conter-bottom-left-top span {
    float: right; }

.conter-bottom {
  margin-top: 2rem; }

.conter-bottom-left {
  float: left; }

.conter-bottom-left-bottom {
  width: 21rem;
  height: 24rem;
  border: 1px solid #EAEAEA;
  text-align: center;
  margin-top: 1rem; }
  .conter-bottom-left-bottom p {
    margin: 0.5rem 0; }

.conter-bottom-right {
  width: 99rem;
  float: left; }

.conter-bottom-right-top {
  overflow: hidden; }
  .conter-bottom-right-top div {
    margin-top: 0.7rem;
    width: 7rem;
    height: 2.5rem;
    border: 1px solid #EAEAEA;
    float: left;
    line-height: 2.5rem;
    padding-left: 1rem; }

.conter-bottom-right-bottom {
	overflow: hidden;
  border-top: 1px solid #EAEAEA; }

.conter-bottom-right-bottom > div {
  float: left;
  width: 24.75rem;
  text-align: center; }
  .conter-bottom-right-bottom > div .conter-bottom-right-div {
    margin-left: 1.5rem;
    width: 21rem;
    height: 3rem; }
    .conter-bottom-right-bottom > div .conter-bottom-right-div div {
      float: left; }
    .conter-bottom-right-bottom > div .conter-bottom-right-div div:nth-of-type(1) {
      width: 7rem;
      height: 3;
      border: 1px solid #EAEAEA; }
    .conter-bottom-right-bottom > div .conter-bottom-right-div div:nth-of-type(2) {
      width: 14rem;
      height: 3;
      border: 1px solid #EAEAEA; }

/*# sourceMappingURL=searchList.css.map */
